body{
    font-family: "Open Sans", sans-serif;
}
#Banner-Section {
    background-image: url("../imgs/bannerfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-weight: 800;
}
#Banner-Section p{
    font-weight: 400;
    color:white;
}
#Datos-personales h3{
    color:rgb(82, 84, 92);
    margin-bottom: 40px;
    font-weight: 600;
    padding-top: 40px;
}
#Datos-personales h5{
   color: rgb(6, 185, 188);
}
#Datos-personales{
  background-color: #e8e8e8;
    overflow: hidden;
    padding: 20px 100px;
    margin: 0px;
    line-height: 28px;
}
#Datos-personales p{
   color: rgb(82, 84, 92);
}
.redes-sociales i{
    text-align: left;
    margin:9px;
    padding: 5px;
    color: rgb(6, 185, 188);
    font-size:19px;
}


/*Habilidades*/
#Habilidades i{
    color: #cf2ca4;
}

#Servicios h2, h3, p{
    color:rgb(82, 84, 92);
}
#Servicios i{
    color:rgb(195, 7, 208);
}

  .features i{
    text-align: center;
    margin:8px;
    padding:10px;
    color: white;
    font-size:19px;
}

/*Formulario*/
.button{
    color:#212529;
    border-bottom: #DDDDDD;
    font-weight: 500;
}





/*Footer*/
.footer{
    font-size: 1em;
    font-weight: 500;
}
.bg-danger-fondo{
    background-color:#cf2ca4;
}

/*Pagina acerca de mi*/

#Resumen i{
    color:rgb(195, 7, 208);
    font-weight: 500;
    }
#Resumen h2, h4, p{
        color:rgb(82, 84, 92);
    }
#About-me h5{
    font-weight: 700;
    font-size: 1.5em;
    color: #cf2ca4;
}
.iconos-sociales i{
    text-align: left;
    margin:9px;
    padding: 5px;
    color: #cf2ca4;
    font-size:19px;
}
#formacion{
    background-color: #e8e8e8;
    
}
#formacion ul{
    list-style: none;
    list-style-position: inherit;
}
#formacion li{
text-decoration: none;
font-weight:400;
}
#formacion h4, li{
    color:rgb(82, 84, 92);
}
.icon{
   color:  rgb(6, 185, 188);
}
.small-raitings{
    color: #e8e8e8; 
}
.rating-color{
    color:rgb(195, 7, 208);
}
.ratings i{
    color:#cecece;
    font-size:32px;
}
.ratings{
    margin-right:10px;
}

/*Página de Portafolio*/
#portafolio h2,p, span{
color:rgb(82, 84, 92);
}
#portafolio h5{
    color:  rgb(6, 185, 188);
}
#portafolio i{
    color: rgb(6, 185, 188);
}
#portafolio .card:hover{
    transform:translateY(-15px);
    overflow: hidden;
    transition: all 0,50s;
  }
  
  .thumbnail {
    padding: 4px;
    margin-top: auto;
    border-radius: 4px;
  }
   
  .image {
    display: block;
    max-width: 100%;
  }
  
  #Mi-trabajo{
    background-color: #000000;
}
  #Mi-trabajo h1{
    color:rgb(6, 185, 188);
    font-weight: 700;

} #Mi-trabajo .card:hover{
    transform:translateY(-15px);
    overflow: hidden;
    transition: all 0,50s;
  }
  #Mi-trabajo .btn-secondary{
    background-color: rgb(6, 185, 188)!important;
    border-bottom: none;
  }